In [1]:
import numpy as np
import pandas as pd
#import seaborn as sns
import matplotlib.pyplot as plt

#plot inline
%matplotlib inline

In [2]:
#reading in th ecsv file
PATH= '/home/amit/Desktop/ML_workshop/marketing_data.xlsx'
df= pd.read_excel(PATH)

In [4]:
df.head() # or- df

,ID,State,Region,Division,Group_Name,MSA_Population_Size,GENDER_CODE,PRESUMED_DEAD_FLAG,Primary_TOP,Primary_PE,...,TOP,PE,SPECIAlITY,YrsPractice,Ignore1,Ignore2,Ignore3,Ignore4,Ignore5,Ignore6
0,10259059.0,AL,3.0,6.0,1.0,1.0,1.0,NaN,20.0,30.0,...,20,30,FM,57.0,0.0,0.282792,11.4531,17.9303,4.8554,0.282792
1,10261004.0,AL,3.0,6.0,6.0,3.0,1.0,NaN,20.0,30.0,...,20,30,IM,55.0,0.0,0.000000,16.8683,20.1757,2.3040,0.000000
2,10263002.0,TN,3.0,6.0,1.0,1.0,1.0,NaN,71.0,11.0,...,71,11,Other,53.0,0.0,0.000000,25.6941,6.0275,0.0000,0.000000
3,10265022.0,AL,3.0,6.0,1.0,1.0,1.0,NaN,20.0,30.0,...,20,30,FM,51.0,0.0,0.000000,20.6320,5.6000,2.9553,0.000000
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,Other,NaN,0.0,0.000000,35.0081,8.4561,0.0000,0.000000

In [7]:
df.shape

(77247, 31)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77247 entries, 0 to 77246
Data columns (total 31 columns):
ID                          34977 non-null float64
State                       34969 non-null object
Region                      34973 non-null float64
Division                    34973 non-null float64
Group_Name                  34977 non-null float64
MSA_Population_Size         34977 non-null float64
GENDER_CODE                 34949 non-null float64
PRESUMED_DEAD_FLAG          2 non-null object
Primary_TOP                 34977 non-null float64
Primary_PE                  34977 non-null float64
Primary_AD                  34977 non-null object
Secondary                   34977 non-null object
RX_Restriction_Indicator    2128 non-null object
customer_id                 77247 non-null int64
ID2                         77247 non-null int64
MyProd1_Rx                  77247 non-null float64
MyProd2_Rx                  77247 non-null float64
CompProd1_Rx                77247 non-null float64
CompProd2_Rx                77247 non-null float64
CompProd3_Rx                77247 non-null float64
Age                         34977 non-null float64
TOP                         77247 non-null int64
PE                          77247 non-null int64
SPECIAlITY                  77247 non-null object
YrsPractice                 34977 non-null float64
Ignore1                     77247 non-null float64
Ignore2                     77247 non-null float64
Ignore3                     77247 non-null float64
Ignore4                     77247 non-null float64
Ignore5                     77247 non-null float64
Ignore6                     77247 non-null float64
dtypes: float64(21), int64(4), object(6)
memory usage: 18.3+ MB